body {
    margin: 0;
}


#fondo {
    position: relative;
    background-color: skyblue;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

#suelo {
    background-color: grey;
    height: 20%;
    width: 100%;
}

.sol{
    position: absolute;
    top: 50px;
    left: 76%;
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    animation: cambiarColorSol 5s forwards ease-in-out;
}

.pajaroPokemon {
    position: absolute;
    top: 0;
    left: 0;
}

.pajaroPokemon .pk1 {
    position: absolute;
    top: 100px;
    left: 250px;
}

.pajaroPokemon .pk2 {
    position: absolute;
    top: 20px;
    left: 500px;
}



.pajaroPokemon img {
    width: 120px;
}

.topos {
    position: absolute;
}

.topos .t1 {
    position: absolute;
    bottom: 10px;
    left: 250px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: aparicion-topos1;

}

.topos .t2 {
    position: absolute;
    bottom: 10px;
    left: 500px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: aparicion-topos2;
}

.topos .t3 {
    position: absolute;
    bottom: 10px;
    left: 750px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: aparicion-topos1;
}

.topos .t4 {
    position: absolute;
    bottom: 10px;
    left: 1000px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: aparicion-topos2;

}


#coche img {
    width: 300px;
}

#coche {
    position: absolute;
    top: 400px;
    left: 0px;
    animation-name: mover;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

}

#llammas {
    position: absolute;
    top: 140px;
    left: 150px;
    opacity: 0;
    animation-name: aparecerEfectosCoche;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

}

#llammas img {
    width: 100px;
}

#humoCoche {
    position: absolute;
    top: 60px;
    right: 40px;
    opacity: 0;
    animation-name: aparecerEfectosCoche;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#humoCoche img {
    width: 70px;
    ;
}

.wall img {
    width: 200px;
}

.wall {
    position: absolute;
    top: 372px;
    left: 500px;
}

.wall .no_broke {
    opacity: 1;
    animation-name: desaparecerMuro;
    animation-delay: 2s;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.wall .broke {
    opacity: 0;
    animation-name: aparecerMuroRoto;
    animation-delay: 2s;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.wall .part_wall {
    opacity: 0;
    animation-name: tumbarseParteMuro;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#edificio {
    position: absolute;
    top: 350px;
    left: 1150px;
}

#edificio img {
    width: 300px;
}

@keyframes mover {
    0% {
        left: 0px;
    }

    40% {
        left: 380px;
    }

    70% {
        left: 500px;
    }


    90% {
        left: 700px;
    }

    100% {
        left: 894px;
    }
}

@keyframes aparecerEfectosCoche {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes aparecerMuroRoto {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes desaparecerMuro {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes tumbarseParteMuro {
    0% {
        transform: rotateX(0deg) translateZ(0);
        opacity: 1;
    }

    100% {
        transform: rotateX(30deg) translateZ(-100px);
        opacity: 1;
    }
}

@keyframes aparicion-topos1 {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1
    }
}

@keyframes aparicion-topos2 {

    0%,
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes cambiarColorSol {
    0% {
      background-color: yellow;
    }
    50% {
      background-color: orange;
    }
    100% {
      background-color: red;
    }
  }