.manga {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: center;
}






.fila1, .fila2, .fila3 {
    display: flex;
    width: 700px;
    justify-content: space-between;
}

img{
    height: 300px;
}


.fila1 .col1 img:hover{
    height: 500;
    transition: height 2s;
}

.fila1 .col2 img:hover{
    opacity: 0;
    transition: opacity 2s;
}

.fila2 .col1 img:hover{
    height: 500px;
    opacity: 0;
    transition: all 2s;
}

.fila2 .col2 img:hover{
    height: 50vh;
    opacity: 0;
}


